# Basics of Python:

The notebook contains the explanation and implementation of basic data types in python.

## Topics covered in this tutorial:

1. Numbers
2. Strings
3. Printing
4. Variable Assignments

## Mathematical computations in python:

Mathematical computations in python are similar to as in real world.Let us begin our tutorial by performing addition, subtraction, multiplication and division.

### Addition:

In [1]:
1+1

2

In [2]:
1+2

3

In [3]:
3+3

6

### Subtraction:

In [4]:
1-1

0

In [5]:
2-1

1

In [6]:
5-6

-1

### Multiplication:

In [7]:
1*1

1

In [8]:
2*6

12

In [9]:
14*7

98

### Division:

While performing dvision if you want the resultant quotient than we can simply do (Dividend) / (Divisor), but if we want the remainder than we need to type (Dividend) % (Divisor).

In [10]:
4/2

2.0

In [11]:
9/3

3.0

In [12]:
93/3

31.0

In [13]:
31%2

1

In [14]:
10%3

1

In [15]:
11%4

3

### Performing exponential operations:

If you want to find 'm' to the power 'n' wheir m is base and n is power.Than we just need to type m**n.

In [16]:
4**2

16

In [17]:
2**4

16

In [18]:
3**5

243

## Dealing with strings:

A string is a data type used in programming, such as an integer and floating point unit, but is used to represent text rather than numbers. It is comprised of a set of characters that can also contain spaces and numbers. For example, the word "hamburger" and the phrase "I ate 3 hamburgers" are both strings. Even "12345" could be considered a string, if specified correctly. Typically, programmers must enclose strings in quotation marks for the data to recognized as a string and not a number or variable name.

In [19]:
"Double Quotes"

'Double Quotes'

In [20]:
'Single Quotes'

'Single Quotes'

In [21]:
'I ate an apple'

'I ate an apple'

In [22]:
'12986461'

'12986461'

## Printing:

To print integers, float, strings in python we use a function which is called as 'print'. To print a word you just need to type print(word) and the word gets printed.

In [23]:
print('Hi!')

Hi!

In [24]:
print('I love apples')

I love apples

In [25]:
print('1245')

1245

In [26]:
print('0.26')

0.26

## Variable Assignment:

Variable assignment basically means assigning some value that could be a string, float, integer to some variable.Some rules need to be followed while naming a variable. The rules are given below:

- Must begin with a letter (a - z, A - B) or underscore (_)
- Other characters can be letters, numbers or _
- Case Sensitive
- Can be any (reasonable) length
- There are some reserved words which you cannot use as a variable name because Python uses them for other things.

In [27]:
x=2
print(x)

2

In [28]:
variable='Hello'
print(variable)

Hello

In [29]:
y='0.245'
print(y)

0.245

In [30]:
# variable names must not start with special symbols if they do than we will encounter an error
$var=12
print(var$)

SyntaxError: invalid syntax (<ipython-input-30-d994c8afe24e>, line 2)

In [31]:
# in variable names the special symbols can come anywhere in middle but not in starting and ending

var_x=12
print(var_x)

12